h1{
    color:rgb(194, 0, 39);
}
*{
    border:solid;
}
.header{
    background-color:rgb(164, 190, 238);
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
